<div class="cv">
  <img src="/assets/images/foto_dni_2021.jpg" alt="foto" class="foto_dni" />
  <div class="experience">
    <section>
      <h2>Experiencia</h2>

      <ul>
        @for (experience of experiences; track experience.title) {
        <li class="lista">
          <h3>{{ experience.title }}</h3>
          <p>{{ experience.company }}</p>
          <p>{{ experience.start }} - {{ experience.end }}</p>
        </li>
        } @empty {
        <li class="lista">There are no items.</li>
        }
      </ul>
    </section>
  </div>
</div>
