<p>about-me works!</p>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About me</h1>
    <p>
      I am a junior software developer with experience working in agile
      environments with different technologies, such as Python, Computer Vision,
      Javascript, C# and Unity, passionate about web development and I am
      looking to start a career in frontend/fullstack web development. I have
      experience working in dynamic environments using different technologies
      and languages, I am a fast learner and I am always looking to improve my
      skills.
    </p>
  </body>
</html>
