<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-me-div">
      <img src="/assets/images/foto_dni_2021.jpg" alt="foto" class="foto_dni" />
      <div class="text-div">
        <p class="about-me">
          I am a junior software developer with experience working in agile
          environments with different technologies, such as Python, Computer
          Vision, Javascript, C# and Unity, passionate about web development and
          I am looking to start a career in frontend/fullstack web development.
        </p>
      </div>
      <div class="Skills">
        <h3>Skills</h3>
        <ul>
          <li>Python</li>
          <li>Typescript</li>
          <li>Javascript</li>
          <li>C#</li>
          <li>Unity</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Git</li>
          <li>Angular</li>
          <li>Vue</li>
          <li>React</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
        </ul>
      </div>
    </div>
  </body>
</html>
