<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-me-div">
      <div class="text-div">
        <p class="about-me">
          I am a junior software developer with experience working in agile
          environments with different technologies, such as Python, Computer
          Vision, Javascript, C# and Unity, passionate about web development and
          I am looking to start a career in frontend/fullstack web development.
        </p>
      </div>
      <div class="skills">
        <h3>Skills</h3>
        <mat-chip-grid>
          <mat-chip>Python</mat-chip>
          <mat-chip>Typescript</mat-chip>
          <mat-chip>Javascript</mat-chip>
          <mat-chip>C#</mat-chip>
          <mat-chip>Unity</mat-chip>
          <mat-chip>HTML</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>Git</mat-chip>
          <mat-chip>Angular</mat-chip>
          <mat-chip>Vue</mat-chip>
          <mat-chip>React</mat-chip>
          <mat-chip>MongoDB</mat-chip>
          <mat-chip>Mongoose</mat-chip>
        </mat-chip-grid>
      </div>
    </div>
  </body>
</html>
