.about-me {
  width: 100%;
  padding: 0 20%;
  box-sizing: border-box;
  text-align: left;
  font-size: 1rem;
  color: #f7f7f7;
}

.foto_dni {
  width: 120px;
  height: 140px;
  border-radius: 50%;
  padding: 0 10%;
}

.text-div {
  display: flex;
  flex-direction: column;
}

.about-me-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.skills{
    display: grid;
}