@for (project of projects; track project.title) {
<div class="project-card">
  <mat-card>
    <mat-card-header>
      <div class="project_card__image">
        <img
          mat-card-sm-image
          src="{{ project.image }}"
          alt="{{ project.title }}"
        />
      </div>
      <div class="description__title">
        <mat-card-title class="title"> {{ project.title }}</mat-card-title>
        @for (skill of project.skills; track skill) {
        <div class="skill" [style.background-color]="getRandomColor()">
          <mat-card-subtitle>{{ skill }}</mat-card-subtitle>
        </div>
        }
      </div>
    </mat-card-header>
    <mat-card-content
      class="project-card__description"
      [innerHTML]="project.description"
    >
      {{ project.description }}
    </mat-card-content>
    <mat-card-actions>
      <div class="botones">
        <a href="{{ project.githubFrontend }}" target="_blank" style="display: inline-block; margin-right: 20px;">
          <button mat-raised-button>Github Frontend</button>
        </a>
        <a href="{{ project.githubBackend }}" target="_blank" style="display: inline-block; margin-right: 20px;">
          <button mat-raised-button>Github Backend</button>
        </a>
        @if (project.link) {
        <a href="{{ project.link }}" target="_blank" style="display: inline-block; margin-right: 20px;">
          <button mat-raised-button>Site</button>
        </a>}
      </div>
    </mat-card-actions>
  </mat-card>
</div>
}
